---
layout: page
title: "About"
description: "HelloWorld!"
header-img: "img/about-bg-walle.jpg"
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1" disabled="disabled"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="blog-comment">
    <link rel="stylesheet" href="{{ "/css/iDisqus.min.css" | prepend: site.baseurl }}" />
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script src="/js/iDisqus.min.js"></script>
<script type="text/javascript">
    var disq = new iDisqus('disqus_thread', {
        forum: '{{ site.disqus_username }}',
        api: '{{ site.disqus_api }}',
        site: '{{ site.url }}',
        identifier: '{{ site.disqus_username }}{{ page.url }}',
        url: '{{ site.url }}{{ page.url }}',
        title: '{{ page.title }}',
        mode: 3,
        timeout: 3000,
        init: true
    });
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
